# Environment / secrets
.env
*.env
!.env.example
.smw
ptg
ptg.sh
ptg.ps1

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
.venv/
venv/

# Build / dist
*.whl
*.tar.gz
*.zip
*.tar

# Django
db.sqlite3
db.sqlite3-journal
media/

# Editor / OS
.idea/
.vscode/
.DS_Store
