{% extends "base.html" %}
{% load static %}

{% block title %}{{ profile.name|default:"Developer Portfolio" }}{% endblock %}

{% block content %}
    {% include "components/header.html" %}
    {% include "components/skills.html" %}
    {% include "components/projects.html" %}
    {% include "components/experience.html" %}
    {% include "components/content.html" %}
    {% include "components/social-links.html" %}
    {% include "components/interactive.html" %}
    {% include "components/contact.html" %}
{% endblock %}
